.carousel .carousel-item{
    width: 400px;
   
}
.carousel .carousel-item img{
    width: 100%;
}
.carousel .carousel-item h3{
    margin: -5px 0 0;
    padding: 0;
    /* background: #fff; */
    background: rgba(255,255,255,.2);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    color: #000;
    box-sizing: border-box;
    font-weight: bold;
    padding: 10px 5px;
    font-size: 2em;
    text-align: center;
}
body{
    margin: 0;
    padding: 0;
    /* background: #000; */
    /* background: #060c21; */
    background: rgba(26,188,156,0.7);
}
.carousel{
    transform: translateY(-150px);
    height: 750px;
    perspective: 600px;
}
.image img{
    max-width: 320px;
}
.imageconten{
    max-width: 320px;
 float: right;
}
.bigc{
    text-shadow:0 5px 10px antiquewhite;
}
.parallexc{
    background: rgba(26,188,156,0.7);
}

.mass{
    font-family: 'Cedarville Cursive', cursive;
}



