



body{
  background-color: #78e08f;
}


img{
  border-radius: 8%;
  
}

.second{
  height: 290px;
  margin-top: 20px;
  position: relative;
}

.gh{
  width: 400px;
  height: 300px;
}
.hap{
  margin-top: 20px;
}






